@model PagedList.IPagedList<Pyramid.Entity.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Все Заказы";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="section-header">
    <h2>@ViewBag.Title</h2>
    <div class="subtitle">информация</div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        @{ var order = new Pyramid.Entity.Order();}
        <tr>
            <th>
                @Html.DisplayNameFor(model => order.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => order.TypeProgressOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => order.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => order.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => order.Adress)
            </th>
            <th>Действия</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @((int)item.TypeProgressOrder==1?"Подтвержден":"Новый")
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
           
            <td>
                <div class="btn-group btn-group-sm" style="float: none;">
                    <a href="@Url.Action("Update", "Order", new { id = item.Id })" class="tabledit-edit-button btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>

            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page}))
