@model Pyramid.Models.Faq.FaqViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-xs-4">
            <div class="faq__box">
                <p class="faq__box-title">Выберите категорию:</p>
                <ul class="faq__sidebar-menu">
                    @foreach (var item in Model.AllFaq)
                    {
                        <li class="faq__sidebar-menu-item">
                            @if (Request.Url.AbsolutePath == item.FriendlyUrl)
                            {
                                <a class="faq__sidebar-menu-link">@item.Title</a>
                            }
                            else
                            {
                                <a href="@(!string.IsNullOrEmpty(item.FriendlyUrl)?item.FriendlyUrl: Url.Action("Get",new {id=item.Id }))" class="faq__sidebar-menu-link">@item.Title</a>
                            }
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 col-xs-8">
            <div class="faq__box faq__box_content">
                
                
                <div id="accordion">
                    @if (Model.CurrentFaq != null)
                    {
                        foreach (var item in Model.CurrentFaq.QuestionAnswer)
                        {
                           
                            <h3 class="faq__accordion-header">@item.Question</h3>
                            <div>
                                <p>
                                    @item.Answer
                                </p>
                            </div>
                        }
                    }
                   
                </div>
                <script>
                  $( function() {
                    $( "#accordion" ).accordion();
                  } );
                </script>
            </div>
        </div>
    </div>
</div>
