<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=1200px, initial-scale=1">*@
    <meta name="cmsmagazine" content="49e7bd2f5d79ef7859363a3765356d65" />
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/libs/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-grid10.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-grid15.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <title>@ViewBag.MetaTitle</title>
    @if (!string.IsNullOrEmpty( ViewBag.Keywords))
    {
        <meta name="keywords" content="@ViewBag.Keywords">
    }
    @if (!string.IsNullOrEmpty(ViewBag.Description ))
    {
        <meta name="description" content="@ViewBag.Description">
    }
    <link rel="stylesheet" href="~/Content/libs/jquery.bxslider.min.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
    <script src="~/Content/libs/jquery.bxslider.min.js"></script>
    @*<script src="~/Content/libs/jquery-ui.min.js"></script>
        <script src="~/Content/scr/jquery-ui.min.js"></script>*@
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="yandex-verification" content="61a9c06b59bd1c63" />
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid container_no-pad">

            @if (ViewBag.Controller != null && ViewBag.Action != null &&
                ((string)ViewBag.Controller).ToLower() == "home" &&
                ((string)ViewBag.Action).ToLower() == "index" ||
                ((string)ViewBag.Controller).ToLower() == "error")
            {
                Html.RenderPartial("_PartialHeaderHomePage");
            }
            else
            {
                Html.RenderPartial("_PartialHeaderOtherPages");
            }
            <div id="notifies"></div>
            <script>

                Notify = {
                    TYPE_INFO: 0,
                    TYPE_SUCCESS: 1,
                    TYPE_WARNING: 2,
                    TYPE_DANGER: 3,

                    generate: function (aText, aOptHeader, aOptType_int) {
                        var lTypeIndexes = [this.TYPE_INFO, this.TYPE_SUCCESS, this.TYPE_WARNING, this.TYPE_DANGER];
                        var ltypes = ['alert-info', 'alert-success', 'alert-warning', 'alert-danger'];
                        var ltype = ltypes[this.TYPE_INFO];

                        if (aOptType_int !== undefined && lTypeIndexes.indexOf(aOptType_int) !== -1) {
                            ltype = ltypes[aOptType_int];
                        }

                        var lText = '';
                        if (aOptHeader) {
                            lText += "<h4>" + aOptHeader + "</h4>";
                        }
                        lText += "<p>" + aText + "</p>";
                        var lNotify_e = $("<div class='alert " + ltype + "'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button>" + lText + "</div>");

                        setTimeout(function () {
                            lNotify_e.alert('close');
                        }, 3000);
                        lNotify_e.appendTo($("#notifies"));
                    }
                };
            </script>


            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid container_no-pad">
            <div class="call-to-action call-to-action_footer">
                <p class="call-to-action__head-title">Каталог товаров</p>
                <p class="footer__switch">Свернуть</p>
            </div>
            <div class="footer__catalog-products">
                <div class="row no-gutter  ft-grid">

                    @{ IEnumerable<Pyramid.Models.AllCategoriesViewModel> footerCategories = (IEnumerable<Pyramid.Models.AllCategoriesViewModel>)ViewBag.FooterCategories;}
                    @if (footerCategories != null)
                    {


                        foreach (var item in footerCategories)
                        {
                            <div class="col-md-3 col-xs-6 grid-sizer ft-item">
                                <div class="footer__catalog-item">
                                    <a href="@(!string.IsNullOrEmpty(item.Category.FriendlyUrl)?item.Category.FriendlyUrl:Url.Action("Index","Category",new { id=item.Category.Id}))"><p class="footer__catalog-item-title">@item.Category.Title</p></a>
                                    <ul class="footer__catalog-list">
                                        @foreach (var subs in item.SubCategories)
                                        {
                                            <li class="footer__catalog-list-item"><a href="@(!string.IsNullOrEmpty(subs.FriendlyUrl)?subs.FriendlyUrl:Url.Action("Index","Category",new { id=subs.Id}))">@subs.Title</a></li>

                                        }



                                    </ul>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <div class="footer_bottom">
                <div class="row no-gutter">
                    <div class="col-md-3 col-xs-3">
                        <div class="footer__copyright">
                            <p class="footer__copyright-text">2016 © Пирамида.<span class="footer__copyright-text_yellow">Строй</span></p>
                            <a href="tel:+78452468168" class="header__text-phone" style="text-align:left" onclick="yaCounter22689784.reachGoal('phone'); return true;">8(8452) 468-168</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <div class="footer__menu-wrap">
                            @{var modelFriendlyUrlBase = (FriendlyUrlBaseModel)ViewBag.FriendlyUrlBase;}
                            <ul class="footer__menu">
                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.CompanyFriendlyUrl)?modelFriendlyUrlBase.CompanyFriendlyUrl:Url.Action("Index","Page",new { id = 4 }))">Наша компания</a></li>
                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.MarksFriendlyUrl)?modelFriendlyUrlBase.MarksFriendlyUrl:Url.Action("Index","Page",new { id = 5 }))">Наши марки</a></li>
                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.CooperationFriendlyUrl)?modelFriendlyUrlBase.CooperationFriendlyUrl:Url.Action("Index","Page",new { id = 6 }))">Сотрудничество</a></li>
                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.JobsFriendlyUrl)?modelFriendlyUrlBase.JobsFriendlyUrl:Url.Action("Index","Page",new { id = 7 }))">Наши вакансии</a></li>
                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.ContactsFriendlyUrl)?modelFriendlyUrlBase.ContactsFriendlyUrl:Url.Action("Index","Page",new { id = 8 }))">Контакты</a></li>

                                <li class="footer__menu-item"><a class="footer__menu-item-link" href="@(!string.IsNullOrEmpty(modelFriendlyUrlBase.EventBaseFriendlyUrl)?modelFriendlyUrlBase.EventBaseFriendlyUrl:Url.Action("Index","Event"))">Акции</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<!-- BEGIN JIVOSITE CODE {literal} -->
            <script type='text/javascript'>
        (function(){ var widget_id = 'V8V10cNP4b';var d=document;var w=window;function l(){
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
            <!-- {/literal} END JIVOSITE CODE -->*@

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script id="jivo-loader" type='text/javascript'>
        (function () {
            var widget_id = '9uCy0xMccc'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundle/polyfill-object-fit")

    @Scripts.Render("~/bundle/main")
    @RenderSection("scripts", required: false)
    @*<script src="~/Scripts/main/main.js"></script>*@
    <script>
        (function () {
            objectFitImages('img.product__item-img', { watchMQ: true });
            objectFitImages('img.search-item__img', { watchMQ: true });
        })()

    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter22689784 = new Ya.Metrika({
                    id:22689784,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/22689784" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script>
        $(document).ready(function () {
            $(".metrica-target__knopka1").click(function () {
                yaCounter22689784.reachGoal('knopka1'); return true;
            });
            $(".metrica-target__knopka2").click(function () {
                yaCounter22689784.reachGoal('knopka2'); return true;
            });
        });
    </script>
</body>

</html>