
<div class="header">

    <div class="row no-gutter">
        <div class="col-ten-md-1 col-ten-xs-1  header__logo-wrap">
            <a href="/"><div class="header__logo header__logo_small"></div></a>
            <a href="tel:+78452468168" class="header__text-phone header__text-phone_small" onclick="yaCounter22689784.reachGoal('phone'); return true;">8(8452) 468-168</a>
        </div>
        <div class="row no-gutter">
            <div class="col-ten-md-2 col-ten-xs-2 header__line-one">
                <div class="header__consultant header__consultant_green" onclick="jivo_api.open();">
                    <img class="header__consultant-img" src="~/Content/img/consultant2.jpg" alt="">
                    <p class="header__consultant-text header__consultant-text_fix50">Онлайн консультант</p>


                </div>
            </div>
            <div class="col-ten-lg-7 col-ten-md-7 col-ten-xs-7 col-ten-xs-8 header__line-one">
                <div class="header__wrap header__wrap_bg-gray">
                    @{Html.RenderPartial("_PartialHeaderMenu"); }
                    

                    <!--<div class="header__sign-up">
                        <a href="#">Регистрация</a>
                        <div class="sign-up-splitter"></div>
                        <a class="yellow_in" href="#">Вход</a>
                    </div>-->

                </div>

            </div>
            
                <div class="header__cart">
                    <a class="header__cart-link" href="@Url.Action("ShowCart","Cart")">
                        <div class="header__wrap header__cart-wrap">
                            <div class="header__icon-cart"></div>
                            <p class="header__title-cart">
                                Корзина

                            </p>
                            @{var cart = (Pyramid.Tools.Cart)ViewBag.Cart; }
                            <div class="header__count-items">@cart.Lines.Count()</div>
                        </div>
                    </a>
                    @Html.Partial("_PartialShortCart")

                </div>
           
            <div class="col-ten-md-2 col-ten-xs-2 header__line-one">
                <div class="header__wrap-catalog-dropdown">
                    <div class="header__catalog-btn">
                        <p>Каталог товаров</p>
                    </div>
                    <div class="header__catalog-dropdown">
                        <ul class="header__catalog-list">
                        @{ 
                            IEnumerable<Pyramid.Models.AllCategoriesViewModel> dropdownCategories = (IEnumerable<Pyramid.Models.AllCategoriesViewModel>)ViewBag.FooterCategories;
                            var currentUrlPage = Request.Url.AbsolutePath;
                         }
                        @if (dropdownCategories != null)
                        {
                            foreach (var item in dropdownCategories)
                            {
                                <li class="header__catalog-list-item">
                                    @if (currentUrlPage == item.Category.FriendlyUrl)
                                    {
                                        <a class="header__catalog-item-link">@item.Category.Title</a>
                                    }
                                    else
                                    {
                                        <a class="header__catalog-item-link" href="@(!string.IsNullOrEmpty(item.Category.FriendlyUrl)?item.Category.FriendlyUrl: Url.Action("Index","Category",new { id = item.Category.Id }))">@item.Category.Title</a>
                                    }

                                    @if (item.SubCategories != null && item.SubCategories.Count() > 0)
                                    {
                                        <ul class="header__catalog-list-inner-level">
                                            @foreach (var subs in item.SubCategories)
                                            {
                                                if (currentUrlPage == subs.FriendlyUrl)
                                                {
                                                    <li class="header__catalog-list-item">
                                                        <a class="header__catalog-item-link">@subs.Title</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                <li class="header__catalog-list-item">
                                                    <a class="header__catalog-item-link" href="@(!string.IsNullOrEmpty(subs.FriendlyUrl) ? subs.FriendlyUrl : Url.Action("Index", "Category", new { id = subs.Id }))">@subs.Title</a>
                                                </li>
                                                }
                                            }
                                        </ul>
                                    }
                                   
                                </li>
                            }
                        }
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-ten-md-7 col-ten-xs-7 header__line-one">
                <div class="header__search">
                    @using (Html.BeginForm("GlobalSearch", "Home", FormMethod.Get, new { @class = "header__search-form" }))
                    {
                        @*<input type="text" class="header__search-input" placeholder="Поиск по сайту">*@
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "header__search-input", placeholder = "Поиск по сайту" })
                        <button type="submit" class="header__search-button"></button>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a href="/"><div class="breadcrumbs__home-icon"></div></a></li>
        @{
            var breadcrumbs = (List<Common.Models.BreadCrumbViewModel>)ViewBag.BredCrumbs;
        }
        @if (breadcrumbs != null)
        {
            if (breadcrumbs.Count() > 2)
            {
                int breadIndx = 0;
                foreach (var item in breadcrumbs)
                {
                    <li class="breadcrumbs__list-item">
                        <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" title="@item.Title" @(!string.IsNullOrEmpty(item.FriendlyUrl) ? MvcHtmlString.Create("href=" + item.FriendlyUrl).ToHtmlString() : (breadcrumbs.Count - 1 != breadIndx) ? MvcHtmlString.Create("href=" + item.Link).ToHtmlString() : "")>
                                <span itemprop="name">@item.Title</span>
                                <meta itemprop="position" content="@(breadIndx + 1)">
                            </a>
                        </span>
                    </li>
                    breadIndx++;
                }
            }
            else if (breadcrumbs.Count() == 2)
            {
                for (int i = 0; i < 2; i++)
                {
                    <li class="breadcrumbs__list-item">
                        <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" title="@breadcrumbs[i].Title" @(!string.IsNullOrEmpty(breadcrumbs[i].FriendlyUrl) && i != 1 ? MvcHtmlString.Create("href=" + breadcrumbs[i].FriendlyUrl).ToHtmlString() : (i != 1) ? MvcHtmlString.Create("href=" + breadcrumbs[i].Link).ToHtmlString() : "")>
                                <span itemprop="name">@breadcrumbs[i].Title</span>
                                <meta itemprop="position" content="@i">
                            </a>
                        </span>
                    </li>
                }
            }
            else if (breadcrumbs.Count() == 1)
            {
                <li class="breadcrumbs__list-item">
                    <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" title="@breadcrumbs[0].Title">
                            <span itemprop="name">@breadcrumbs[0].Title</span>
                            <meta itemprop="position" content="1">
                        </a>
                    </span>
                </li>
            }
        }

    </ul>
</div>


