<div class="cart__container cart__container_small">
    @{var cart = (Pyramid.Tools.Cart)ViewBag.Cart; }


    @if (cart != null && cart.Lines.Count() > 0)
    {
        foreach (var item in cart.Lines)
        {
            <div class="cart__item cart__item_small">
                <div class="row cart__row cart__row_fixed-height">
                    <div class="col-md-3">
                        <div class="cart__part">
                            <div class="cart__picture" style="background:url('@(item.Product.Picture!=null&&item.Product.Picture.ServerPathImg!=null?item.Product.Picture.ServerPathImg:Pyramid.Global.Config.PathNotFilledImage)')no-repeat"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart__part cart__part_pad">
                            <p class="cart__item-title">@item.Product.Title</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cart__part">
                            <div class="price-block">
                                <span class="price-block__price"><span class="price-block__big-price">@item.Product.Price</span>руб</span>
                                <input class="price-block__count-input js-cart-spinner" value="@item.Quantity" data-ajaxid="@item.Product.Id"/>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="cart__remove-item" data-ajaxid="@item.Product.Id">✖</div>
            </div>

        }
        <script>
        $(".js-cart-spinner").spinner({
            min: 1,
        });
        </script>
        <div class="cart__item cart__item_small cart__item_total">
            <div class="row cart__row">
                <div class="col-md-6 col-md-offset-3">
                    <p>Итог на сумму:</p>
                </div>
                <div class="col-md-3">
                    <span class="price-block__price"><span class="price-block__big-price">@cart.ComputeTotalValue()</span>руб</span>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Checkout","Cart")" class="cart__btn-to-cart">Перейти к оформлению</a>

    }
    else
    {
        <p class="cart__empty">Корзина пуста</p>
    }

</div>