
<div class="header">

    <div class="row no-gutter">
        <div class="col-ten-md-1 header__logo-wrap">
            <a href="/">
                <div class="header__logo header__logo_small"></div>
            </a>
        </div>
        <div class="row no-gutter">
            <div class="col-ten-md-2 header__line-one">
                <div class="header__consultant header__consultant_green">
                    <img class="header__consultant-img" src="~/Content/img/consultant.png" alt="">
                    <p class="header__consultant-text header__consultant-text_fix50">Онлайн консультант</p>


                </div>
            </div>
            <div class="col-ten-lg-7 col-ten-md-7 col-ten-xs-8 header__line-one">
                <div class="header__wrap header__wrap_bg-gray">
                    @{Html.RenderPartial("_PartialHeaderMenu"); }
                    

                    <!--<div class="header__sign-up">
                        <a href="#">Регистрация</a>
                        <div class="sign-up-splitter"></div>
                        <a class="yellow_in" href="#">Вход</a>
                    </div>-->

                </div>

            </div>
            
                <div class="header__cart">
                    <a class="header__cart-link" href="@Url.Action("ShowCart","Cart")">
                        <div class="header__wrap header__cart-wrap">
                            <div class="header__icon-cart"></div>
                            <p class="header__title-cart">
                                Корзина

                            </p>
                            @{var cart = (Pyramid.Tools.Cart)ViewBag.Cart; }
                            <div class="header__count-items">@cart.Lines.Count()</div>
                        </div>
                    </a>
                    @Html.Partial("_PartialShortCart")

                </div>
           
            <div class="col-ten-md-2 header__line-one">
                <div class="header__wrap-catalog-dropdown">
                    <div class="header__catalog-btn">
                        <p>Каталог товаров</p>
                    </div>
                    <div class="header__catalog-dropdown">
                        <ul class="header__catalog-list">
                        @{ IEnumerable<Pyramid.Models.AllCategoriesViewModel> dropdownCategories = (IEnumerable<Pyramid.Models.AllCategoriesViewModel>)ViewBag.FooterCategories;}
                        @if (dropdownCategories != null)
                        {
                            foreach (var item in dropdownCategories)
                            {
                                <li class="header__catalog-list-item">
                                    <a class="header__catalog-item-link" href="@Url.Action("Index","Category",new { id = item.Category.Id })">@item.Category.Title</a>
                                    @if (item.SubCategories != null && item.SubCategories.Count() > 0)
                                    {
                                        <ul class="header__catalog-list-inner-level">
                                            @foreach (var subs in item.SubCategories)
                                            {
                                                <li class="header__catalog-list-item">
                                                    <a class="header__catalog-item-link" href="@Url.Action("Index","Category",new { id = subs.Id })">@subs.Title</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                   
                                </li>
                            }
                        }
                            @*<li class="header__catalog-list-item">
                                <a class="header__catalog-item-link" href="#">content</a>
                                <ul class="header__catalog-list-inner-level">
                                    <li class="header__catalog-list-item">
                                        <a class="header__catalog-item-link" href="#">content2</a>
                                    </li>
                                    <li class="header__catalog-list-item">
                                        <a class="header__catalog-item-link" href="#">content2</a>

                                    </li>
                                    <li class="header__catalog-list-item">
                                        <a class="header__catalog-item-link" href="#">content2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header__catalog-list-item"><a class="header__catalog-item-link" href="#">content</a></li>
                            <li class="header__catalog-list-item"><a class="header__catalog-item-link" href="#">content</a></li>
                            <li class="header__catalog-list-item"><a class="header__catalog-item-link" href="#">content</a></li>
                            <li class="header__catalog-list-item"><a class="header__catalog-item-link" href="#">content</a></li>
                            <li class="header__catalog-list-item"><a class="header__catalog-item-link" href="#">content</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-ten-md-7 header__line-one">
                <div class="header__search">
                    @using (Html.BeginForm("GlobalSearch", "Home", FormMethod.Get, new { @class = "header__search-form" }))
                    {
                        @*<input type="text" class="header__search-input" placeholder="Поиск по сайту">*@
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "header__search-input", placeholder = "Поиск по сайту" })
                        <button type="submit" class="header__search-button"></button>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a href="/"><div class="breadcrumbs__home-icon"></div></a></li>
        @{
            var breadcrumbs = (List<Pyramid.Models.BreadCrumbViewModel>)ViewBag.BredCrumbs;
        }
        @if (breadcrumbs != null)
        {
            int breadIndx = 0;
            foreach (var item in breadcrumbs)
            {
                <li class="breadcrumbs__list-item"><a @((breadcrumbs.Count - 1 != breadIndx) ? MvcHtmlString.Create("href=" + item.Link).ToHtmlString() : "")>@item.Title</a></li>
                breadIndx++;
            }
        }

    </ul>
</div>


