@model Pyramid.Entity.Product

@{
    ViewBag.Title = ((Model!=null && Model.Id!=0)?"Редактирование":"Добавление")+" товара";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="section-header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("AddOrUpdate","Product",FormMethod.Post,new {id="addOrUpdateProductForm" }))
{
<div class="row">
    <div class="col-lg-8 col-md-8">
        <div class="box-typical box-typical-padding">
            
                @Html.AntiForgeryToken()
                
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id,new { id ="Product_Id" })
                    @Html.HiddenFor(model => model.DateCreation)
                    @Html.HiddenFor(model => model.OneCId)








                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.TypePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.TypePrice, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeStatusProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.TypeStatusProduct, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeStatusProduct, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SeasonOffer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.SeasonOffer, htmlAttributes: new { })
                            @Html.ValidationMessageFor(model => model.SeasonOffer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsPriority, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.IsPriority, htmlAttributes: new { })
                            @Html.ValidationMessageFor(model => model.IsPriority, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control adminTextareaCommon" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MetaKeywords, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsSEOReady, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsSEOReady)
                                @Html.ValidationMessageFor(model => model.IsSEOReady, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsFilled, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.IsFilled, htmlAttributes: new { })
                            @Html.ValidationMessageFor(model => model.IsFilled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                </div>
            
        </div>
        <div class="card">
            <div class="card-header card-header-lg">
                <p>Значение дополнительных параметров</p>
            </div>
            <div class="card-block">
                <div class="admin-product__addition-values js-admin-productvalues">
                    @Html.Partial("_PartialAllProductValues",Model.ProductValues)
                    
                </div>
                <button type="button" class="btn btn-primary btn-add-product-value">Добавить</button>
            </div>
            
        </div>
        <div class="card">
            <div class="card-header card-header-lg">
                <p>Значение для фильтров</p>
            </div>
            <div class="card-block">
                <div class="admin-product__addition-values js-admin-product-enumvalues">
                    @Html.Partial("_PartialProductAllEnumValues", Model.EnumValues)

                </div>
                <button type="button" class="btn btn-primary js-btn-add-product-enumvalue">Добавить</button>
            </div>

        </div>
        
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="box-typical box-typical-padding">
            <div class="proj-page-section admin-product__categories-wrap">
                <p>Категории товара</p>
                <div class="admin-product__categories">
                    @Html.Partial("_PartialAllProductCategories", (List<Pyramid.Models.CategoryAdminViewModel>)ViewBag.AllCategories)
                    
                </div>
            </div>
            <div class="proj-page-section admin-product__thumbnail-wrap">
                <p>Миниатюра товара</p>
                <div class="admin-product__thumbnail">
                    @Html.HiddenFor(m => Model.ThumbnailId, new { id = "ThumbnailId" })
                    <img src="@((Model.ThumbnailImg!=null)? Model.ThumbnailImg.ServerPathImg:"#")" alt="" />
                </div>
                <button type="button" class="btn btn-primary js-btn-thumbnail-edit">Изменить</button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header card-header-lg">
        <p>Редактирование списка картинок галереи</p>
       
    </div>
    <div class="card-block">
        <div class="box-product-gallery">
            @Html.Partial("_PartialProductGallery",Model.Images)
        </div>
        <button type="button" class="btn btn-primary js-btn-add-product-gallery" data-ajaxid="@Model.Id">Добавить</button>
    </div>

</div>
@*<div class="card">
    <div class="card-header card-header-lg">
        <p>Редактирование списка советов</p>

    </div>
    <div class="card-block">
        <div class="js-admin-product-recommendations">
            @Html.Partial("_PartialProductRecommendations", Model.Recommendations)
        </div>
        <button type="button" class="btn btn-primary js-btn-add-product-recommendation" data-ajaxid="@Model.Id">Добавить</button>
    </div>

</div>*@

<div class="card">
    <div class="card-block"><div class="form-group">
    
        <input type="submit" value="Сохранить" class="btn btn-default">
    
</div></div>
</div>
}

<div>
    @Html.ActionLink("Вернуться к списку с товарами", "AdminIndex", null, new { @class = "btn btn-default btn-lg" })
</div>


<div class="modal fade" id="edit-thumbnail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Выбор картинки</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                @*<button type="button" class="btn btn-primary js-btn-thumbnail-save">Сохранить изменения</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Выбор картинки</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                @*<button type="button" class="btn btn-primary js-btn-thumbnail-save">Сохранить изменения</button>*@
            </div>
        </div>
    </div>
</div>