@using Pyramid.Helpers

@model SearchResultViewModel<Pyramid.Entity.Product>
@{
    ViewBag.Title = "Все товары";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage, Model.PagesInfo.DisplayedPages, Url.GetAction(), Url.GetController(), pageNumber => new
    {
        page = pageNumber,
        priority = ViewBag.Priority,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        categoryId = ViewBag.CategoryId
    });
}
<div class="section-header">
    <h2>@ViewBag.Title</h2>
    <div class="subtitle">информация</div>
</div>

<p class="pmargin">
    @Html.ActionLink("Новый Товар", "AddOrUpdate",null, new { @class = "btn btn-primary" })
</p>
@using (Html.BeginForm("AdminIndex", "Product", FormMethod.Get))
    {
    <div class="row">
        <div class="col-md-4">
            <p class="pmargin">
                Поиск по названию: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Поиск" />


            </p>
        </div>
        <div class="col-md-8">
            <div class="col-md-4">
                <label>Приоритетные</label>
                @Html.CheckBox("priority", (bool)ViewBag.Priority)
            </div>
            <div class="col-md-3">
                <label>Выбор категории</label>
            </div>
            <div class="col-md-5">
                @Html.DropDownList("categoryId", new SelectList(ViewBag.CategoriesSelectListItem, "Value", "Text"), "Выбрать", new { @class = "form-control", id = "category-point_" + Model, data_ajaxid = Model, data_ajaxindex = Model })
            </div>


        </div>
    </div>
   
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="table-icon-cell">
                <i class="font-icon glyphicon glyphicon-file"></i>
            </th>
            <th>
                Название
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                Цена
                @*@Html.DisplayNameFor(model => model.Price)*@
            </th>
            
            
            <th>
               Дата создания
            </th>
            <th>
                Дата обновления
            </th>
            @*<th>Отзывы на эту позицию</th>*@
            <th>Действия</th>
        </tr>
    </thead>

    @foreach (var item in Model.Objects)
    {
        <tr>
            <td class="table-photo">
                <img src="@(item.ThumbnailImg!=null&&item.ThumbnailImg.ServerPathImg!=null?item.ThumbnailImg.ServerPathImg:"/Content/img/logoSA.jpg")" alt="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
           
           
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChange)
            </td>
            @*<td>
                @Html.ActionLink("Отзывы", "GetProductReview", new { id=item.Id})
            </td>*@
            <td>
                <div class="btn-group btn-group-sm" style="float: none;">
                    <a href="@Url.Action("AddOrUpdate", "Product", new { id = item.Id })" class="tabledit-edit-button btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Product", new { id = item.Id })" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                  
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-md-12">
        @pagedList
    </div>
</div>
@*@Html.PagedListPager(Model, page => Url.Action("AdminIndex",
    new { page, priority = ViewBag.Priority,sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, categoryId= ViewBag.CategoryId }))*@
