@model IEnumerable<Pyramid.DAL.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddOrUpdate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSEOReady)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateChange)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSEOReady)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateChange)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddOrUpdate", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
