
@{
    ViewBag.Title = "cat";
    Layout = "~/Views/Shared/_LayoutOtherPages.cshtml";
}

<div class="category">
    <div class="row no-gutter">
        <div class="col-ten-md-4">
            <p class="category__title">category title</p>
        </div>
        <div class="col-ten-md-6">
            <div class="category__sort">
                <ul class="category__sort-list">
                    <li class="category__sort-list-item">Сортировать по:</li>
                    <li class="category__sort-list-item"><a href="">цене</a></li>
                    <li class="category__sort-list-item"><a href="">названию</a></li>
                    <li class="category__sort-list-item"><a href="">популярности</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-ten-md-2">
            <div class="category__sidebar">
                <div class="category__filter-block">
                    <p class="category__filter-title">Заголовок</p>
                    <div class="category__filter-block-controls">
                        <div class="checkbox">
                            @Html.Hidden("test", "test")
                            @Html.CheckBox("test",  new { @class = "category__input-chekbox" })
                            <label>пункт 1</label>
                        </div>
                        <div class="checkbox">
                            @Html.Hidden("test", "test")
                            @Html.CheckBox("test", new { @class = "category__input-chekbox" })
                            <label>пункт 1</label>
                        </div>
                        <div class="checkbox">
                            @Html.Hidden("test", "test")
                            @Html.CheckBox("test", new { @class = "category__input-chekbox" })
                            <label>пункт 1</label>
                        </div>
                    </div>
                </div>
                <div class="category__filter-block">
                    <p class="category__filter-title">Заголовок2</p>
                    <div class="category__filter-block-controls">
                        <div class="sliderUI"></div>
                        <label class="label_spinner">от</label>
                        <input type="text" class="spinnerUI1" value="" />
                        <label class="label_spinner">до</label>
                        <input type="text" class="spinnerUI2" value="" />

                    </div>
                </div>


            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-ten-md-2">
            <div class="product__item">
                <img src="~/Content/img/test-offer.png" alt="" class="product__item-img">
                <p class="product__item-title">
                    Краскопульт SATA Spray Master RP с алюминиевым верхним бачком
                    0,7 л нагнетательного типа
                </p>
                <div class="product__item-price product__item-price_best">
                    <div class="triangle-up"></div>
                    <div class="triangle-down"></div>
                    <p class="product__item-price-inner"><span class="big-decimal">45 675</span> руб.</p>
                </div>
                <div class="product__in-stock">
                    <p>в наличии</p>
                </div>
                <a href="">
                    <div class="product__buy product__buy_one-click">
                        <p>Купить в один клик</p>
                    </div>
                </a>
                <a href="">
                    <div class="product__buy product__buy_add-to-cart">
                        <p>Добавить в корзину</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
