@model Pyramid.Entity.Page
@{
    ViewBag.Title = ((Model != null && Model.Id != 0) ? "Редактирование" : "Добавление") + " страницы";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="section-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
            {
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="box-typical box-typical-padding">

                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id, new { id = "Product_Id" })




                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control adminTextareaCommon" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Сохранить" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="col-lg-4 col-md-4">
            <div class="box-typical box-typical-padding">
                <div class="proj-page-section admin-product__thumbnail-wrap">
                    <p>Миниатюра товара</p>
                    <div class="admin-product__thumbnail">
                        @Html.HiddenFor(m => Model.ImageId, new { id = "ThumbnailId" })
                        <img src="@((Model.Image!=null)? Model.Image.ServerPathImg:"#")" alt="" />
                    </div>
                    <button type="button" class="btn btn-primary js-btn-thumbnail-edit">Изменить</button>
                </div>
            </div>
        </div>*@
    </div>
}


