@model List<Pyramid.Entity.HomeEntity>
@{
    ViewBag.Title = "Пирамида строй";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Pyramid.Entity.Product> offers = (IEnumerable<Pyramid.Entity.Product>)ViewBag.SeasonOffers;
    IEnumerable<Pyramid.Entity.BannersOnHomePage> homeBanners = (IEnumerable<Pyramid.Entity.BannersOnHomePage>)ViewBag.BannersOnHomePage;
    var modelFriendlyUrlBase = (FriendlyUrlBaseModel)ViewBag.FriendlyUrlBase;
}
@Styles.Render("~/Content/magnificPopupcss")
<div class="row no-gutter">
    <div class="col-md-12 col-xs-12">
        <p class="category__title">Ошибка 404, ресурс не найден</p>
    </div>

</div>
<div class="season-offer">
    <div class="row no-gutter">



        @if (offers!=null &&offers.Count() > 0)
        {
            <div class="col-f-lg-3 col-md-3 col-xs-3 season-offer__item_green-title">
                <p class="season-offer__head-text">Специальное предложение</p>
            </div>
            foreach (var item in offers)
            {
                <div class="col-f-lg-3 col-md-3 col-xs-3">
                    <div class="product__item">
                        <a href="@(!string.IsNullOrEmpty(item.FriendlyUrl)?item.FriendlyUrl: Url.Action("Index","Product",new { id=item.Id }))">
                            <div class="product__link-block">
                                <img src="@(item.ThumbnailImg!=null?item.ThumbnailImg.ServerPathImg:"")" alt="" class="product__item-img">


                                <p class="product__item-title">
                                    @item.Title
                                </p>


                                <div class="product__item-price @Pyramid.Tools.ProductTool.GetClassByTypePrice((int)item.TypePrice)">
                                    <div class="triangle-up"></div>
                                    <div class="triangle-down"></div>
                                    <p class="product__item-price-inner"><span class="big-decimal">@item.Price</span> руб.</p>
                                </div>

                            </div>
                        </a>
                        <div class="product__item__hover_block_wrapper">
                            <div class="product__item__hover_block_wrapper__item product__in-stock @(item.TypeStatusProduct == Common.TypeStatusProduct.WillBeAdded?"product__in-stock_willbeadded":"")">
                                @if (item.TypeStatusProduct == Common.TypeStatusProduct.Normal)
                                {
                                    <p>в наличии</p>
                                }
                                @if (item.TypeStatusProduct == Common.TypeStatusProduct.WillBeAdded)
                                {
                                    <p>Доступен для заказа*</p>
                                }
                            </div>
                            <a class="product__item__hover_block_wrapper__item" href="@Url.Action("CheckoutOneClick","Cart",new { id=item.Id})">
                                <div class="product__buy product__buy_one-click">
                                    <p>Купить в один клик</p>
                                </div>
                            </a>
                            <span class="product__item__hover_block_wrapper__item js-add-to-cart" data-ajaxid="@item.Id">
                                <span class="product__buy product__buy_add-to-cart">
                                    Добавить в корзину
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            }
        }





    </div>

</div>
@{var feedback = new Common.FeedBack(); }


<div class="rules-order">
    <p class="rules-order__head-title">ОСНОВНЫЕ ПРАВИЛА СОЗДАНИЯ<br>ЗАКАЗА НА САЙТЕ</p>
    <div class="row no-gutter">
        <div class="col-f-md-3 col-f-xs-3 rules-order__item">

            <div class="rules-order__wrap-img">
                <img src="~/Content/img/mouse.png" alt="" class="rules-order__img">
            </div>


            <p class="rules-order__item-title">
                Выберите на сайте то,
                что вам интересно
            </p>
        </div>
        <div class="col-f-md-3 col-f-xs-3 rules-order__item">

            <div class="rules-order__wrap-img">
                <img src="~/Content/img/shopping-basket.png" alt="Добавьте товары в свою корзину"
                     class="rules-order__img">
            </div>
            <p class="rules-order__item-title">
                Добавьте товары
                в свою корзину
            </p>
        </div>
        <div class="col-f-md-3 col-f-xs-3 rules-order__item">
            <div class="rules-order__wrap-img">
                <img src="~/Content/img/placeholder.png" alt="" class="rules-order__img">
            </div>
            <p class="rules-order__item-title">
                Укажите место
                доставки
            </p>
        </div>
        <div class="col-f-md-3 col-f-xs-3 rules-order__item">
            <div class="rules-order__wrap-img">
                <img src="~/Content/img/telephone.png" alt="" class="rules-order__img">
            </div>
            <p class="rules-order__item-title">
                Дождитесь звонка
                нашего курьера
            </p>
        </div>
        <div class="col-f-md-3 col-f-xs-3 rules-order__item">
            <div class="rules-order__wrap-img">
                <img src="~/Content/img/trolley.png" alt="" class="rules-order__img">
            </div>
            <p class="rules-order__item-title">
                Товар доставят вам
                в течении 48 часов
            </p>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/magnificPopup")
@Scripts.Render("~/bundles/magnificPopup-manage")