@model Pyramid.Models.Cart.CheckoutModel
@{
    ViewBag.Title = "Подтверждение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var cart = (Pyramid.Tools.Cart)ViewBag.Cart;}
<div class="container cart__container">
    <div class="chackout">
        <table class="display table table-striped table-bordered dataTable table-checkout">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Количесво</th>
                    <th>Цена (В руб.)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cart.Lines)
                {
                    <tr>
                        <td>@item.Product.Title</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Product.Price*item.Quantity) Руб.</td>
                    </tr>
                    
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Итоговая стоимость</td>
                    <td>@cart.ComputeTotalValue() Руб.</td>
                </tr>
                
            </tfoot>
        </table>
        @Html.ActionLink("Вернуться в корзину", "Cart", null, new { @class = "btn btn-default" })


        <div class="card js-result-insert">
            <div class="card-header card-header-lg">
                <p>Контактные данные</p>
            </div>
            <div class="card-block">
                <div class="call-to-action__form-wrap_checkout">
                    @using (Html.BeginForm("Checkout","Cart",FormMethod.Post,new { @class="checkout-form"}))
                    {
                        <div class="form-group call-to-action__form-group">
                            @Html.TextBoxFor(m => Model.Name, new {@class="form-control call-to-action__form-control", placeholder="Имя" })
                            @*<input type="text" class="form-control call-to-action__form-control" placeholder="Имя">*@
                        </div>
                        <div class="form-group call-to-action__form-group">
                            @Html.TextBoxFor(m => Model.Email, new { @class = "form-control call-to-action__form-control", placeholder = "E-mail" })
                            @*<input type="text" class="form-control call-to-action__form-control" placeholder="E-mail">*@
                        </div>
                        <div class="form-group call-to-action__form-group">
                            @Html.TextBoxFor(m => Model.Phone, new { @class = "form-control call-to-action__form-control", placeholder = "Телефон" })


                            @*<input type="text" class="form-control call-to-action__form-control" placeholder="Телефон">*@
                        </div>
                        <div class="form-group call-to-action__form-group">
                            @Html.TextBoxFor(m => Model.Adress, new { @class = "form-control call-to-action__form-control", placeholder = "Адрес доставки" })


                            @*<input type="text" class="form-control call-to-action__form-control" placeholder="Адрес доставки">*@
                        </div>
                        <div class="form-group call-to-action__form-group">
                            <input class="" id="Confirm_terms" name="Confirm_terms" placeholder="Имя" type="checkbox" >
                            <span class="personal-data-comment">Отправляя данную форму, я даю <a href="~/Content/Policy/pd_agreement_pyramid.pdf" target="_blank">согласие</a> на обработку моих персональных данных в соответствии с <a href="~/Content/Policy/pd_politics_pyramid.pdf" target="_blank">политикой обработки ПД</a>.</span>

                        </div>
                        <button class="call-to-action__btn">Отправить запрос</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
