@using Pyramid.Helpers

@model SearchResultViewModel<Pyramid.Entity.Recommendation>
@{
    ViewBag.Title = "Советы";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage, Model.PagesInfo.DisplayedPages, Url.GetAction(), Url.GetController(), pageNumber => new
    {
        page = pageNumber
    });
}
<div class="page">
    <div class="page__title">@ViewBag.Title</div>
    <div class="row no-gutter">
        <div class="col-f-lg-3">
            @Html.Partial("_PartialSliderOnPages")

        </div>

        <div class="col-f-lg-12">
            <div class="row no-gutter">
                @foreach (var item in Model.Objects)
                {
                    <div class="col-lg-12">
                        <div class="page__event-item">
                            <div class="page__content-wrap">
                                <div class="page__wrap-thumbnail">
                                    <img class="page__thumbnail" src="@(item.Image!=null&& item.Image.ServerPathImg!=null? item.Image.ServerPathImg:Pyramid.Global.Config.PathNotFilledImage)" alt="" />
                                </div>                                
                                <div class="page__content page__content_for-list">@MvcHtmlString.Create(item.ShortContent)</div>

                                <a href="@Url.Action("Get","Recommendation",new { id=item.Id})" class="page__link-event page__link-event_for-list">Подробней</a>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>