@using Pyramid.Helpers

@model SearchResultViewModel<Pyramid.Entity.Product>
@{
    ViewBag.Title = "Поиск по сайту";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagedList = Html.PagedList(Model.PagesInfo.ItemsCount, Model.PagesInfo.ItemsPerPage, Model.PagesInfo.CurrentPage, Model.PagesInfo.DisplayedPages, Url.GetAction(), Url.GetController(), pageNumber => new
    {
        page = pageNumber,
        //priority = ViewBag.Priority,
        //sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter,
        //categoryId = ViewBag.CategoryId
    });
}
<div class="search">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-xs-12">
                @if (Model.Objects.Count == 0)
                {
                    <p class="search__result">По вашему запросу товаров не найдено</p>
                }
                else
                {
                    <p class="search__result">По вашему запросу найдено @Model.Objects.Count товаров</p>
                }
            </div>



            @foreach (var item in Model.Objects)
            {
                <div class="col-md-12 col-xs-12">
                    <div class="search-item">

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <div class="search-item__img-block">
                                    <img src="@(item.ThumbnailImg.ServerPathImg!=null?item.ThumbnailImg.ServerPathImg:Pyramid.Global.Config.PathNotFilledImage)" alt="" class="search-item__img">

                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="search-item__title-block">
                                    <div class="search-item__title">@item.Title</div>
                                    <div class="search-item__item-price">
                                        <p class="product__item-price-inner"><span class="big-decimal">@item.Price</span> руб.</p>
                                        
                                    </div>
                                </div>
                                <div class="search-item__bottom-block">
                                    <span class="js-add-to-cart" data-ajaxid="@item.Id">
                                        <span class="product__buy product__buy_add-to-cart product__buy_from-search">
                                            Добавить в корзину
                                        </span>
                                    </span>
                                    <a href="/Cart/CheckoutOneClick/@item.Id">
                                        <div class="product__buy product__buy_one-click product__buy_from-search">
                                            <p>Купить в один клик</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="col-md-2 col-xs-2">
                                <div class="search-item__actions-block">
                                    <div class="search-item__product-deteil">
                                        <a href="@(!string.IsNullOrEmpty(item.FriendlyUrl)?item.FriendlyUrl: Url.Action("Index","Product",new { id=item.Id}))" class="btn btn-green search-item__link">Подробней</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-md-8 col-md-offset-4 col-xs-12">

                                </div>
                            </div>*@


                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                @pagedList
            </div>
        </div>
    </div>
</div>

